/*
 * -------------------------------------------------
 * Annotate  Nextflow base config file
 * -------------------------------------------------
 */

process {

  // TODO nf-core: Check the defaults for all processes
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 7.GB * task.attempt, 'memory' ) }
  time = { check_max( 4.h * task.attempt, 'time' ) }
  container = 'lifebitai/annotate:dev'
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
}

docker.enabled = true

params {

  // Workflow flags
  outdir = './results'
  publish_dir_mode = 'copy'

  // Files
  empty_file = 's3://lifebit-featured-datasets/projects/gel/siteqc/nodata'

  input = false
  predicted_ancestries = false
  unrelated_list = false
 
  // Values
  king='T'

}
